<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7f83d9">  <td>20/03/31 02:25:20</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;TestNGTesting.afterTest()[pri:0, instance:com.dev.deployapp.controller.TestNGTesting@2b6856dd]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@591391158</td>   <td></td> </tr>
<tr bgcolor="7f83d9">  <td>20/03/31 02:25:13</td>   <td>-7461</td> <td>&nbsp;</td><td title="&gt;&gt;TestNGTesting.beforeTest()[pri:0, instance:com.dev.deployapp.controller.TestNGTesting@2b6856dd]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@591391158</td>   <td></td> </tr>
<tr bgcolor="7f83d9">  <td>20/03/31 02:25:19</td>   <td>-1168</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGTesting.testAddTopic()[pri:0, instance:com.dev.deployapp.controller.TestNGTesting@2b6856dd]">testAddTopic</td> 
  <td>main@591391158</td>   <td></td> </tr>
<tr bgcolor="7f83d9">  <td>20/03/31 02:25:20</td>   <td>-597</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGTesting.testAllTopics()[pri:0, instance:com.dev.deployapp.controller.TestNGTesting@2b6856dd]">testAllTopics</td> 
  <td>main@591391158</td>   <td></td> </tr>
</table>
